@import 'variables';
@import 'fonts';

body {
    height: 100vh;
    padding: 0;
    margin: auto;
}

#app {
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    background-color: $mirage;
}
  
header {
    line-height: 1.5;
    max-height: 100vh;
}

.logo {
    width: 72px;
    height: 35px;
    object-fit: contain;
    &-inactive {
        opacity: 0.3;
    }
}

.avatar {
    width: 35px;
    height: 35px;
    object-fit: contain;
    border: 2px solid $zircon;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    &-inactive {
        opacity: 0.3;
    }
}

.login-form {
    text-align: center;
    margin-top: 25vh;
    &-title {
        font-family: Poppins-Bold;
        font-style: normal;
        font-size: 45px;
        letter-spacing: 0.3px;
        line-height: 85px;
        text-align: center;
        color: $zircon;
        margin-bottom: 0.5em;
    }
    &-input {
        font-family: Poppins-Medium;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 24px;
        text-align: left;
        color: $zircon;
        outline: 0;
        border-width: 0 0 2px;
        border-color: $zircon_op;
        background: $mirage;
        margin-bottom: 2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-left: 0;
        padding-right: 0;
    }
    &-submit {
        font-family: Poppins-Medium;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0.6px;
        line-height: 1.8em;
        color: $zircon;
        background-color: $malachite;
        border-color: $malachite;
        border-radius: 10px;
        &:hover {
            color: $zircon;
            background-color: $malachite_op;
            border-color: $malachite_op;
        }
        &:focus {
            color: $zircon;
            background-color: $malachite_op;
            border-color: $malachite_op;
            box-shadow: 0 0 0 0.25rem $malachite_op;
        }
    }
}

.home {
    text-align: center;
    margin-top: 5vh;
    &-left {
        padding-right: calc(var(--bs-gutter-x) * 0.3);
        padding-left: calc(var(--bs-gutter-x) * 0.3);
    }
    &-right {
        padding-right: calc(var(--bs-gutter-x) * 0.3);
        padding-left: calc(var(--bs-gutter-x) * 0.3);
    }
}

.video-view {
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}

.chat-view {
    background-color: $malachite_op2;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    &-top {
        &-title {
            font-family: Poppins-Medium;
            font-style: normal;
            font-size: 18px;
            letter-spacing: 0.6px;
            line-height: 25px;
            text-align: center;
            color: $zircon;
            float: left;
            margin-right: 0.5em;
        }
        &-badge {
            font-family: Poppins-Medium;
            font-style: normal;
            font-size: 12px;
            letter-spacing: 2px;
            line-height: 18px;
            text-align: center;
            color: $zircon;
            float: left;
            background-color: $malachite;
            padding: 3px 8px;
            border-radius: 3px;
        }
    }
    &-content {
        margin-top: 35px;
        border: 2px solid green;
    }
    &-bottom {
        margin: 0;
        border: 1.5px solid $zircon;
        border-radius: 8px;
        &-input {
            font-family: Poppins-Regular;
            font-style: normal;
            font-size: 12px;
            letter-spacing: 0.4px;
            line-height: 18px;
            text-align: left;
            color: $zircon;
            outline: 0;
            border: none;
            background: none;
            margin: 0;
            padding-left: 1em;
            border-radius: 8px;
        }
        &-send {
            font-family: Poppins-SemiBold;
            font-style: normal;
            font-size: 14px;
            letter-spacing: 0.4px;
            line-height: 20px;
            text-align: left;
            color: $jacarta;
            outline: 0;
            border-width: 0;
            border-color: $zircon;
            background: $zircon;
            margin: 0;
            text-align: center;
            &:hover {
                color: $jacarta;
                background-color: $zircon;
                border-width: 0;
                border-color: $zircon;
                box-shadow: none;
            }
            &:focus {
                color: $jacarta;
                background-color: $zircon;
                border-width: 0;
                border-color: $zircon;
                box-shadow: none;
            }
            &:active {
                color: $jacarta;
                background-color: $zircon_op2;
                border-width: 0;
                border-color: $zircon;
                box-shadow: none;
            }
        }
    }
}

.result {
    color: $malachite;
}

.float-right {
    float: right;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

nav {
    width: 100%;
    font-size: 12px;
    margin-top: 2rem;
}

nav a.router-link-exact-active {
    color: var(--color-text);
}

nav a.router-link-exact-active:hover {
    background-color: transparent;
}

nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
    border: 0;
}

@media (min-width: 1024px) {
    header {
        display: flex;
        place-items: center;
        padding-right: calc(var(--section-gap) / 2);
    }

    header .wrapper {
        display: flex;
        place-items: flex-start;
        flex-wrap: wrap;
    }

    .logo {
        margin: 0 2rem 0 0;
    }

    nav {
        text-align: left;
        font-size: 1rem;
        padding: 1rem 0;
        margin-top: 1rem;
    }
}