
$mirage: #1C1833;
$zircon: #F6F8FF;
$zircon_op: rgba(246, 248, 255, 0.3);
$zircon_op2: rgba(246, 248, 255, 0.7);
$malachite: #00CB51;
$malachite_op: rgba(0, 203, 81, 0.7);
$malachite_op2: rgba(0, 203, 81, 0.15);
$jacarta: #383066;